<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @user.name %> - The Quest for the Thing - Online Text RPG</title>

  </head>
<body>
  


  <div id="character_attributes">
    <div id="characterHeading" class="heading">  
      <h4><span><%= @user.name %>'s Attributes:&nbsp;</span></h4>
    </div>      
    <div id="characterContainer"class="container">  
      <p id="display_level">Your level is <%= @user.level %>.</p>
      <p id="display_strength">You have <%= @user.strength %> Strength.</p>
      <p id="display_hit">You have <%= @user.hit %> Accuracy.</p>
      <p id="display_def">You have <%= @user.defence %> Defence.</p>
      <p id="display_dodge">You have <%= @user.evade %> Evade.</p>
      <p id="display_luck">You have <%= @user.luck %> Luck.</p>
      <p id="display_points">You have <%= @user.points %> Attribute Points.</p>
    </div>
  </div>
    
  

  <div id="buttonWrapper">
    <div id="buttonHeading" class="heading">  
      <h4><span><%= @user.name %>'s Attribute Buttons:&nbsp;</span></h4>
    </div>
    <div id="buttons">
    <button onClick="character.strPlus()" id="strPlus">Raise Strength</button>
    <button onClick="character.hitPlus()" id="hitPlus">Raise Accuracy</button>
    <button onClick="character.defPlus()" id="defPlus">Raise Defence</button>
    <button onClick="character.dodgePlus()" id="dodgePlus">Raise <br>Evade</button>
    <button onClick="character.luckPlus()" id="luckPlus">Raise <br>Luck</button>
    </div>
  </div>

  

<div id="characterMessages">
  <div id="messageHeading" class="heading"> 
    <h4><span><%= @user.name %>'s Messages:&nbsp;</span></h4>
  </div>
  <div id="messageContainer"class="container">
    <p id="result"></p>
    <p id="other"></p>
  </div>
</div> 

<div id='tutorial'>
  <p>First spend all your attribute points using the 'Raise ...' buttons.</p>
  <p>If you have enough gold you can buy items from Goblin Dave's Used Goods Emporium, or you can save it up for later.</p>
  <p>Higher tier items are stronger but cost more. Every time you win a fight you'll receive either an item or gold.</p>
  <p>Equip items using the 'Sell/Use Items' button under 'Your Adventure:'.</p>
  <p>When you're ready to fight choose an enemy you think you can beat and click the 'Fight a ...' button then 'Attack' (watch out for your special attacks too!).</p>
  <p>Fighting uses up Energy and if you take damage you'll lose Health as well, you'll then receive 1 Energy and Health back each minute until you're at full points again.</p>
  <p>If you lose all your Health you'll be revived but it will cost you 2 Energy.</p>
  <p>Good Luck!</p>
</div>
<div id='testStats'>
  <p id='headers'>Name, Str, Hit, Def, Dodge, HP, XP, Difficulty, Defeats</p>
  <p id='mouseStats'></p>
  <p id='ratStats'></p>
  <p id='dogStats'></p>
  <p id='wolfStats'></p>
  <p id='goblinStats'></p>
  <p id='orcStats'></p>
  <p id='ogreStats'></p>
</div> 

   
</body>
</html>